{{define "title"}}Create a new snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"> 
    <div>
        <label>Title:</label>
        <!-- Use with to render the value of .Form.FieldErrors.title if it is not empty -->
        <!-- If .Form is nil, then rendering this template will result in a nil pointer dereference 
         as it tries to retrieve a "FieldErrors" field on a nil pointer -->
        {{with .Form.FieldErrors.title}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" / value="{{.Form.Title}}">
    </div>
    <div>
        <label>Content:</label>
        {{with .Form.FieldErrors.content}}
            <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Form.Content}}</textarea>
    </div>
    <div>
        {{with .Form.FieldErrors.expires}}
            <label class="error">{{.}}</label>
        {{end}}
        <!-- When we re-render this page with error fields, the .Form.Expires contains the submitted
         value of the previous form submission -->
        <input type="radio" name="expires" value="365" {{if (eq .Form.Expires 365)}}checked{{end}}> One year
        <input type="radio" name="expires" value="7" {{if (eq .Form.Expires 7)}}checked{{end}}> One week
        <input type="radio" name="expires" value="1" {{if (eq .Form.Expires 1)}}checked{{end}}> One day
    </div>
    <div>
        <input type="submit" value="Publish snippet">
    </div>
</form>
{{end}}