{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    <!-- . represents the data object passed to this template. .Snippet will
     retrieve the data object's Snippet field. The .tmpl files and the 
     object passed to ExecuteTemplate needs to be in sync! If the names don't match
     it will result in a runtime error -->
    {{with .Snippet}}
        <div class="snippet">
            <div class="metadata">
                <!-- Since these are enclosed within the with .Snippet, we
                 can write .Snippet.Title as .Title. This logic applies to the
                 other fields within .Snippet -->
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class="metadata">
                <time>Created: {{humanDate .Created}}</time>
                <time>Expires: {{.Expires}}</time>
            </div>
        </div>
    {{end}}
{{end}}